nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  border-bottom: 1px solid #ccc;
  color: #2c3e50; }
  nav h1 {
    font-size: xx-large; }
  nav #navbar-buttons {
    margin: 10px; }
    nav #navbar-buttons button {
      outline: 0;
      grid-gap: 8px;
      align-items: center;
      background: 0 0;
      border: 1px solid #cccccc;
      border-radius: 4px;
      cursor: pointer;
      display: inline-flex;
      flex-shrink: 0;
      font-size: 16px;
      gap: 8px;
      justify-content: center;
      line-height: 1.5;
      overflow: hidden;
      padding: 12px 16px;
      text-decoration: none;
      text-overflow: ellipsis;
      transition: all .10s ease-out;
      white-space: nowrap;
      margin: 10px; }
    nav #navbar-buttons :hover {
      box-shadow: 3px 3px 0 #cccccc;
      transform: translate(-3px, -3px); }
    nav #navbar-buttons :focus-visible {
      outline-offset: 1px; }

footer {
  text-align: center;
  position: fixed;
  left: 10;
  right: 10;
  bottom: 0;
  width: 100%;
  padding: 20px;
  border-top: 1px solid #ccc; }
