@font-face {
  font-family: 'CustomFont';
  src: url("fonts/tidy-hand.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

nav {
  font-family: 'CustomFont', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  border-bottom: 1px solid #ccc;
  color: #2c3e50; }
  nav h1 {
    font-size: xx-large; }
  nav #navbar-buttons {
    font-family: 'CustomFont', sans-serif;
    margin: 10px; }
    nav #navbar-buttons button {
      outline: 0;
      grid-gap: 8px;
      align-items: center;
      background: 0 0;
      border: 1px solid #cccccc;
      border-radius: 4px;
      cursor: pointer;
      display: inline-flex;
      flex-shrink: 0;
      font-size: 16px;
      gap: 8px;
      justify-content: center;
      line-height: 1.5;
      overflow: hidden;
      padding: 12px 16px;
      text-decoration: none;
      text-overflow: ellipsis;
      transition: all .10s ease-out;
      white-space: nowrap;
      margin: 10px; }
    nav #navbar-buttons :hover {
      box-shadow: 1px 1px 0 #cccccc;
      transform: translate(-1px, -1px); }
    nav #navbar-buttons :focus-visible {
      outline-offset: 1px; }

@font-face {
  font-family: 'CustomFont';
  src: url("fonts/tidy-hand.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

footer {
  font-family: 'CustomFont', sans-serif;
  text-align: center;
  position: fixed;
  left: 10;
  right: 10;
  bottom: 0;
  width: 100%;
  padding: 20px;
  border-top: 1px solid #ccc; }

@font-face {
  font-family: 'CustomFont';
  src: url("fonts/tidy-hand.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

form {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.a-type-div {
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 15%;
  margin: 10px;
  color: #2c3e50;
  font-family: 'CustomFont', sans-serif; }
  .a-type-div input, .a-type-div select {
    transition: all .10s ease-out;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #cccccc;
    height: 25px; }
  .a-type-div select {
    font-size: medium; }

.hidden {
  display: none !important; }
